<header>

<h1>PokeMon!</h1>
  <!-- <div id="computer-score">COMPUTER<p></p></div>
  <div id="player-score">PLAYER<p></p></div> -->
<div id="logoff">
  <a href="/logoff">Log Off</a>
</div>


</header>
