<main>

  <img id="charizard2" src="/img/charizard.png">

  <section id='computer-cards'>
<!-- // cards get populated here! -->
  </section>

  <section id='player-cards'>
    <!-- // cards get populated here! -->

  </section>

  <section id='in-play'>
    <div id="player-move"></div>

    <div id="computer-move"></div>
  </section>
  <img id="pikachu2" src="/img/pikachu.png">


</main>
