<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Pokemon</title>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
  <link href='https://fonts.googleapis.com/css?family=Knewave' rel='stylesheet' type='text/css'>
  <script src="pokemon.js"></script>
  <link rel="stylesheet" href="styles.css">
</head>

<body>

  <section id='scoreboard'>
    <div id="computer-score">COMPUTER<p></p></div>
    <div id="player-score">PLAYER<p></p></div>
  </section>
  <img id="charizard2" src="img/charizard.png">

  <section id='computer-cards'>
<!-- // cards get populated here! -->
  </section>

  <section id='player-cards'>
    <!-- // cards get populated here! -->

  </section>

  <section id='in-play'>
    <div id="player-move"></div>

    <div id="computer-move"></div>
  </section>
  <img id="pikachu2" src="img/pikachu.png">

<button class="button">PLAY CARD!</button>
</body>
</html>
