<form action="/" method="post">
  <br><br><br>
  USERNAME:<br>
  <input type="text" name="user[username]" value="SpaceHog22">
  <br>
  PASSWORD:<br>
  <input type="text" name="user[password]" value="Mouse1">
  <br><br>
  <input type="submit" value="Submit">
</form>
<h1><a href="/users/newuser"> R E G I S T E R </a></h1>
