<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Pokemon</title>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
  <link href='https://fonts.googleapis.com/css?family=Knewave' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
  <!-- NOTE:<LAYOUT>             -->

  <%- body %>

  <!-- NOTE:<LAYOUT>               -->
<button class="button">PLAY CARD!</button>
</body>
</html>
