<form action="/users/newuser" method="POST" target="_blank" accept-charset="UTF-8"
enctype="application/x-www-form-urlencoded" autocomplete="off" novalidate>
<fieldset>
  <legend>NEW USER:</legend>
USERNAME:<br>
  <input type="text" name="user[username]" value="SpaceHog22">
  <br>
PASSWORD:<br>
  <input type="text" name="user[password]" value="Mouse1">
  <br><br>
  <input type="submit" value="Submit">
</fieldset>
</form>
